* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1080px;
    margin: 0 auto;
    row-gap: 10px;
    column-gap: 20px;
}

.box {
    background-color: #eed7a1;
    height: 380px;
    width: 320px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 40px;
    width: 70px;
    background-color: #475c6c;
    color: white;
}
h3{
    margin-top: 10px;
    font-size: 25px;
}
.price{
    margin-top: 5px;
    font-size: 15px;
}